/* personal checkbox and radio */
.form-group label {
  font-weight: bold; }

/* input layout */
body[data-spinner=true]::after, body[data-spinner=true]::before {
  content: "";
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.55); }

body[data-spinner=true]::before {
  top: 30vh;
  left: 40vw;
  width: 20vw;
  height: 15vw;
  z-index: 1001;
  background-image: url("/img/loading.gif");
  background-size: 20vw;
  background-repeat: no-repeat; }

table tbody tr:hover {
  background-color: #4d84ca3a; }

.slider {
  display: block; }
  .slider .slider-item {
    display: inline-block; }
