/* personal checkbox and radio */
label.radio input, label.checkbox input, label.checklabel input {
  display: none; }

label.checklabel {
  margin-right: 4px; }

label.checkbox, label.radio, label.checklabel {
  cursor: pointer; }

label.checklabel input + span {
  background-color: #F8F5FF;
  color: #7239EA;
  transition: background 1s; }

label.checklabel input:checked + span {
  background-color: #7239EA;
  color: #F5F8FA; }

label {
  font-weight: bold; }

/* input layout */
body[data-spinner=true]::after, body[data-spinner=true]::before {
  content: "";
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.55); }

body[data-spinner=true]::before {
  top: 30vh;
  left: 40vw;
  width: 20vw;
  height: 15vw;
  z-index: 1001;
  background-image: url("/img/loading.gif");
  background-size: 20vw;
  background-repeat: no-repeat; }

table tbody tr:hover {
  background-color: #F8F5FF; }

.slider {
  display: block; }
  .slider .slider-item {
    display: inline-block; }

.pointer {
  cursor: pointer; }
