
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-initial: #fff !default

$color-white: #ffffff !default
$color-primary: #7239EA !default
$color-secondary: #E4E6EF !default
$color-success: #50CD89 !default
$color-info: #009EF7 !default
$color-warning: #FFC700 !default
$color-danger: #F1416C !default
$color-dark: #181C32 !default

$text-light: #F5F8FA !default
$text-white: #ffffff !default
$text-primary: #7239EA !default
$text-secondary: #E4E6EF !default
$text-success: #50CD89 !default
$text-info: #009EF7 !default
$text-warning: #FFC700 !default
$text-danger: #F1416C !default
$text-dark: #181C32 !default

$color-light: #F5F8FA !default
$color-light-primary: #F8F5FF !default
$color-light-success: #E8FFF3 !default
$color-light-info: #F1FAFF !default
$color-light-warning: #FFF8DD !default
$color-light-danger: #FFF5F8 !default
$color-light-dark: #EFF2F5 !default

$color-tertiary: #f4f5f6 !default
$color-quaternary: #d1d1d1 !default
$color-quinary: #e1e1e1 !default
$text-dark: #1a1a1a !default
$color-spiner: rgba(0,0,0,0.55)
$color-border: rgba(0,0,0,0.2)
$color-no-checked: #EFF2F5 !default