@import ../_Color
@import ../_Assets
@import _Groupbox
@import _Inputs
@import _Navbar
@import _Spinner
@import _Badge

header,footer
    background-color: $color-primary
    color: black

body
    padding: 0px
    margin: 0px